<div class="wrapper">
    <div class="page-header section-dark">
        <video autoplay muted loop id="myVideo">
            <source src="assets/img/intro.mp4" type="video/mp4">
          </video>
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <div class="angular-logo">
                            <img src="assets/img/inicio.png " alt=" ">
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto text-center" id="contenedorPadre">
                        <br/>
                        <br/>
                        <div class="div_centrado">
                            <a [routerLink]="[ '/construction-company'] "> <img src="./assets/img/acceso3.png " alt="... " class="imagenhover"></a>
                        </div>
                        <br/>
                        <div class="div_centrado">
                            <a [routerLink]="[ '/legal-advice'] "> <img src="./assets/img/acceso4.png " alt=" " class="imagenhover"></a>
                        </div>
                        <br/>
                        <div class="div_centrado">
                            <a [routerLink]="[ '/real-estate'] "> <img src="./assets/img/acceso2.png " alt=" " class="imagenhover"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>