<div class="wrapper">
    <div class="page-header">
        <video autoplay muted loop id="myVideo">
            <source src="assets/img/intro.mp4" type="video/mp4">
          </video>
        <!-- <div class="filter"></div> -->
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <h1 style="color: white;" class="presentation-title">PROXIMAMENTE</h1>
                        <h2 style="color: white;" class="presentation-subtitle text-center">!Trabajamos arduamente para brindarte una mejor experiencia!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>