<div class="page-header section-dark" data-parallax="true">
    <video autoplay muted loop id="myVideo">
        <source src="assets/img/constructora.mp4" type="video/mp4">
      </video>
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="presentation-title">Constructora Onix</h1>
            <h5 class="presentation-subtitle text-center">Cumplir sueños, es el motor que nos inspira cada día para continuar.</h5>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round" (click)="scrollToDiv(1)">CONTÁCTANOS</button>
            <a (click)="scrollToDiv(2)" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>VER MÁS</a>
        </div>
    </div>
</div>
<div class="main" id="masinfo">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mr-auto ml-auto">
                <h2 class="title">Portal de Guayabillos</h2>
                <br/>
                <p>Proyecto de gran valorización ubicado en el municipio de Chachagüi, vereda Guayabillos a 45 minutos de la capital nariñense Pasto. Conjunto cerrado con todos los servicios públicos: agua, luz, gas domiciliario y alcantarillado; cuenta
                    con portería y vigilancia 24 horas.
                </p>
                <br/>
                <a [routerLink]="['/our-projects']" class="btn btn-danger btn-round">Más Información</a>
            </div>
            <div class="col-md-6 mr-auto ml-auto">
                <h2 class="title">Mirador de Guayabillos</h2>
                <br/>
                <p>Segundo proyecto de la constructora Onix, ubicado a pocos metros de Portal de Guayabillos; ubicado en el municipio de Chachagüi, vereda Guayabillos a 45 minutos de la capital nariñense Pasto
                </p>
                <br/>
                <a [routerLink]="['/our-projects']" class="btn btn-danger btn-round">Más Información</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <section>
                    <img *ngFor="let item of viewDetailsPro" src="{{item.img}}">
                </section>
        </div>
    </div>
        <br/><br/>
    </div>
</div>

<div class="main" >
    <div class="section section-dark text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <div class="author">
                            <h2 class="title">Acerca de nosotros</h2>
                            <br/>
                            <h4 class="card-title">Transparencia</h4>
                            <h4 class="card-title">Ética – Honestidad</h4>
                            <h4 class="card-title">Profesionalismo – Eﬁciencia</h4>
                            <h4 class="card-title">pasión-competitividad- Responsabilidad Social.</h4>
                        </div>
                        <br/>
                        <p class="card-description text-center">
                            Ónix grupo inmobiliario es una empresa Nariñense, con espíritu social donde los sueños se cumplen, dedicada a la construcción y comercialización inmobiliaria en el departamento de Nariño.
                        </p>
                        <p class="card-description text-center">
                            Constituida el 16 de marzo del año 2021, ha desarrollado proyectos de vivienda en el departamento de Nariño, con un gran aporte social para la región, generando empleo, apoyando el desarrollo del comercio, el mejoramiento de la infraestructura y promoviendo el potencial turístico de la región.
                        </p>
                        <br/>
                        <p class="card-description text-center">
                            Ónix grupo inmobiliario ha logrado consolidarse como una empresa de gran crecimiento en el sector inmobiliario y de la construcción, cumpliendo todas las expectativas en nuestro equipo de trabajo y nuestros clientes, entregando a satisfacción las construcciones y los proyectos inmobiliarios, una de nuestras premisas fundamentales es la innovación; próximamente nuestra empresa ampliara su portafolio de servicios y la cobertura de nivel nacional e internacional.
                        </p>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <div class="author">
                            <h4 class="card-title">Misión</h4>
                        </div>
                        <p class="card-description text-center">
                            ONIX GRUPO INMOBILIARIO fundamentados en el reconocimiento y la experiencia, proporciona un asesoramiento integral, a personas y empresas, para que les permita solucionar todas sus necesidades relacionadas con la construcción y el mercado inmobiliario; aportándoles una mayor rentabilidad basada en la responsabilidad y la trasparencia. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Visión</h4>
                            </div>
                        <p class="card-description text-center">
                            Convertirnos en la empresa de referencia del sector inmobiliario y la construcción en el departamento de Nariño, para que las personas que interactúan en este mercado se dirijan a nosotros como primera opción al momento de construir y comercializar inmuebles.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <div class="section landing-section" id="contactanos">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mr-auto ml-auto">
                    <h2 class="text-center">Visítenos</h2>
                    <h5 class="text-center">Calle 19 #24-52, edificio Nariño Centro, Oficina 507 PASTO,Nariño</h5>
                    <br/>
                    <br/>
                    <section>
                        <img src="./assets/img/nariñoCentro.JPG">
                    </section>
                </div>
                <div class="col-md-7 mr-auto ml-auto">
                    <h2 class="text-center">Contáctanos</h2>
                    <form class="contact-form" (ngSubmit)="addInformationSection()">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="addInformation.fullname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Celular</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Celular" (keypress)="validateFormat($event)" [(ngModel)]="addInformation.phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Correo electrónico</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Correo electrónico" [(ngModel)]="addInformation.email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Cuéntanos tu pregunta..." [(ngModel)]="addInformation.information"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main" >
        <div class="section section-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/inicio.png" alt="...">
                        </div>
                        <div class="card-block">
                                <div class="author">
                                    <h4 class="card-title">CONSTRUCTORA ONIX</h4>
                                </div>
                        </div>   
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-block">
                                <div class="author">
                                    <h4 class="card-title">VISÍTENOS</h4>
                                </div>
                            <p class="card-description text-center">
                                Calle 19 #24-52, edificio Nariño Centro, Oficina 507 PASTO,Nariño
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">CONTÁCTENOS</h4>
                            </div>
                            <p class="card-description text-center"> Celular</p>
                            <p class="card-description text-center">
                                <a><i class="fa fa-phone-square" aria-hidden="true"></i> 318 696 6126</a>
                            </p>
                            <p class="card-description text-center">Correo eléctronico</p>
                            <p class="card-description text-center">
                                <a><i class="fa fa-envelope" aria-hidden="true"></i> directorcomercial@constructoraonix.com.co</a>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <p class="card-description text-center">¡Síguenos en nuestras redes sociales!</p>                            
                            <a href="https://www.youtube.com/@ONIXGrupoInmobiliario" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100075448407734" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook-square"></i></a>
                            <a href="https://www.instagram.com/onixgrupoinmobiliario/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
