<div class="wrapper">
    <div class="page-header page-header-xs" style="background-image: url('./assets/img/fondo-onix.jpg');">
        <div class="filter"></div>
    </div>

    <div class="container">
        <h2 class="text-center" style="color:rgb(0, 0, 0); font-weight:bold; ">NUESTROS PROYECTOS</h2>

        <br/>
        <h4 style="color:rgb(0, 0, 0); font-weight:bold;">Recomendados</h4>
        <p class="card-text" style="color:rgb(0, 0, 0);">Quizas te pueda interesar</p>
        <br/><br/>
        <div class="row">
            <div class="col-md-5 ml-auto mr-auto text-center">
                <h2 style="color:rgb(0, 0, 0); font-weight:bold; ">PORTAL DE GUAYABILLOS</h2>
                <br/>
                <p>Proyecto de gran valorización ubicado en el municipio de Chachagüi, vereda Guayabillos a 45 minutos de la capital nariñense Pasto. Conjunto cerrado con todos los servicios públicos: agua, luz, gas domiciliario y alcantarillado; cuenta
                    con portería y vigilancia 24 horas. Además, cuenta con:
                </p>
                <br/>
                <p>
                    • 3 Piscinas para adultos, 2 convencionales y 1 temática con bar interno, con sus respectivas zonas para y niños. • Zona de juegos infantiles. • Gimnasio al aire libre. • Amplias zonas verdes ideales para camping. • Hermosos paisajes naturales con senderos
                    ecológicos y muchas cosas más.
                </p>
                <br/>
                <p>
                    Últimos lotes campestres desde 58 millones, separa el tuyo con el 20% del valor del lote y el resto lo pagas SIN INTERESES hasta marzo de 2023. Si deseas conocer más, sobre esté proyecto, podemos agendar una visita en nuestras oficinas en Pasto o directamente
                    en el proyecto, contáctanos al 318 894 9542 – 315 501 0117. ¡NO PIERDAS LA OPORTUNIDAD DE CERRAR EL AÑO HACIENDO UNA GRAN INVERSIÓN!
                </p>
            </div>
            <div class="col-md-7 ml-auto mr-auto text-center">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/guayabillos.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/img3.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/img4.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/img5.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-7 ml-auto mr-auto text-center">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/LOGO.png" alt="Random first slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/img1.JPG" alt="Random second slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/img2.JPG" alt="Random third slide">
                            <div class="carousel-caption">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-5 ml-auto mr-auto text-center">
                <h2 style="color:rgb(0, 0, 0); font-weight:bold; ">MIRADOR DE GUAYABILLOS</h2>
                <br/>
                <p>Segundo proyecto de la constructora Onix, ubicado a pocos metros de Portal de Guayabillos; ubicado en el municipio de Chachagüi, vereda Guayabillos a 45 minutos de la capital nariñense Pasto
                </p>
                <br/>
                <p>
                    PRE-VENTA SOBRE PLANOS Conjunto cerrado que contará con todos los servicios públicos: agua, luz, gas domiciliario y alcantarillado; portería y vigilancia 24 horas. Además, podrás disfrutar de: • 2 Piscinas para adultos, 1 convencional y 1 temática, con
                    sus respectivas zonas para y niños. • Zona de juegos infantiles. • Gimnasio al aire libre. • Amplias zonas verdes ideales para camping. • Hermosos paisajes naturales con senderos ecológicos y muchas cosas más.
                </p>
                <br/>
                <p>
                    Iniciamos ventas sobre planos, lotes campestres desde 300 mts2 a $220.000 X metro2, separa el tuyo con el 20% del valor del lote y el resto lo pagas SIN INTERESES a 18 meses. Si deseas conocer más, sobre esté proyecto, podemos agendar una visita en nuestras
                    oficinas en Pasto o directamente en el proyecto, contáctanos al 318 894 9542 – 315 501 0117.
                </p>
                <br/>
                <p>
                    ¡NO PIERDAS LA OPORTUNIDAD DE CERRAR EL AÑO HACIENDO UNA INVERSIÓN INTELIGENTE!
                </p>
            </div>
        </div>
        <a href="https://wa.link/as98rv" class="btn-wsp" target="_blank">
            <i class="fa fa-whatsapp icono"></i>
            <span class="mensaje-flotante">¡Pasa el mouse por aquí!</span>
        </a>
    </div>
</div>